<p id="notice"><%= notice %></p>

<p>
  <strong>No:</strong>
  <%= @henhouse.no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @henhouse.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @henhouse.description %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @henhouse.capacity %>
</p>

<%= link_to 'Edit', edit_henhouse_path(@henhouse) %> |
<%= link_to 'Back', henhouses_path %>
