	<tr>
		<td><%= f.text_field :report_date, :disabled => true %></td>
		<td><%= f.text_field :age %></td>
		<td><%= f.text_field :feed_actual %></td>
	    <td><%= f.text_field :average_weight %></td>
	    <td><%= f.text_field :mortality %></td>
	    <td><%= f.text_field :average_temperature %></td>
	    <td><%= f.text_field :average_hummidity %></td>
		<td><%= f.text_area :notes %></td>
		<td><%= f.text_field :stockman %> </td>
		<td><%= f.check_box :_destroy %></td>
	</tr>
 