<%= form_for(periode) do |f| %>
  <% if periode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(periode.errors.count, "error") %> prohibited this periode from being saved:</h2>

      <ul>
      <% periode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <label for="formGroupExampleInput">Example label</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </div>

   <div class="form-group">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>
  
 
  
  <div class="form-group">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>


  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="form-group">
    <%= f.label :start_date %>
    <%= f.date_select :start_date %>
  </div>

  <div class="form-group">
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
  </div>

  <div class="form-group">
    <%= f.label :total_do %>
    <%= f.number_field :total_do %>
  </div>
  

	
  <div class="field"> 
    <%= f.label :henhouse_id %>
	<%= collection_select(:periode, :henhouse_id, Henhouse.all, :id, :name) %>
  </div>


<h3>Daily Record</h3>
<table>
	<th>Tanggal</th>
	<th>Umur </br> (Hari)</th>
	<th>Pemberian Pakan </br> (Bag)</th>
	<th>Berat Rata-Rata </br> (kg)</th>
	<th>Mati </br> (ekor)</th>
	<th>Temperatur </th>
	<th>Kelembaban</th>
	<th>Catatan</th>
	<th>Pekerja</th>
	<tbody>
<%= f.fields_for :daily_records, f.object.daily_records.order(:report_date) do | record | %>
	<%= render 'daily_record_fields', f: record %>
<% end %>
</tbody>
</table>

<%= link_to_add_fields "add Daily Records", f, :daily_records %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


