<p id="notice"><%= notice %></p>

<h1>Periodes</h1>

<table>
  <thead>
    <tr>
      <th>No</th>
      <th>Code</th>
      <th>Description</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Total do</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @periodes.each do |periode| %>
      <tr>
        <td><%= periode.no %></td>
        <td><%= periode.code %></td>
        <td><%= periode.description %></td>
        <td><%= periode.start_date %></td>
        <td><%= periode.end_date %></td>
        <td><%= periode.total_do %></td>
        <td><%= link_to 'Show', periode %></td>
        <td><%= link_to 'Edit', edit_periode_path(periode) %></td>
        <td><%= link_to 'Destroy', periode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Periode', new_periode_path %>
