<p id="notice"><%= notice %></p>

<h1>Periodes</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Kode</th>
      <th>Deskripsi</th>
	  <th>Status</th>
      <th>Mulai</th>
      <th>Selesai</th>
      <th>Jumlah DO</th>
	  <th>Kandang</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @periodes.each do |periode| %>
      <tr>
        <td><%= periode.code %></td>
        <td><%= periode.description %></td>
		<td><%= periode.status %></td>
        <td><%= periode.start_date %></td>
        <td><%= periode.end_date %></td>
        <td><%= periode.total_do %></td>
		<td><%= periode.henhouse.name unless periode.henhouse.blank? %></td>
		
        <td><%= link_to 'Show', periode %></td>
        <td><%= link_to 'Edit', edit_periode_path(periode) %></td>
        <td><%= link_to 'Destroy', periode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Periode', new_periode_path %>
