<p id="notice"><%= notice %></p>

<p>
  <strong>Report date:</strong>
  <%= @daily_report.report_date %>
</p>

<p>
  <strong>Age:</strong>
  <%= @daily_report.age %>
</p>

<p>
  <strong>Remedy:</strong>
  <%= @daily_report.remedy %>
</p>

<p>
  <strong>Feed recieved:</strong>
  <%= @daily_report.feed_recieved %>
</p>

<p>
  <strong>Feed actual:</strong>
  <%= @daily_report.feed_actual %>
</p>

<p>
  <strong>Feed remains:</strong>
  <%= @daily_report.feed_remains %>
</p>

<p>
  <strong>Average weight:</strong>
  <%= @daily_report.average_weight %>
</p>

<p>
  <strong>Mortality:</strong>
  <%= @daily_report.mortality %>
</p>

<p>
  <strong>Average temperature:</strong>
  <%= @daily_report.average_temperature %>
</p>

<p>
  <strong>Average hummidity:</strong>
  <%= @daily_report.average_hummidity %>
</p>

<p>
  <strong>Stockman:</strong>
  <%= @daily_report.stockman %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @daily_report.notes %>
</p>

<p>
  <strong>Periode:</strong>
  <%= @daily_report.periode %>
</p>

<%= link_to 'Edit', edit_daily_report_path(@daily_report) %> |
<%= link_to 'Back', daily_reports_path %>
